@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap");

colours {
  color: #903602;
  color: #f39c6b;
  color: #c0bda5;
  color: #71697a;
  color: #322e18;
  color: #646536;
}

#root {
  max-width: 1280px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: blanchedalmond;
}

h1 {
  font-size: 50px;
  color: #903602;
  text-shadow: 2px 2px #f39c6b;
  padding: 10px;
  margin: 5px;
}

main {
  background-color: #322e18;
  padding: 20px;
}

form {
  margin: 0 auto;
  background-color: #71697a;
  width: max-content;
  color: white;
  padding: 10px;
}

form select {
  margin: 10px;
  padding: 0px 10px;
}

.animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 20px auto;
  border: solid 4px #646536;
  background-color: #c0bda5;
}

.animal button {
  margin: 10px;
}

.animals img {
  width: 300px;
  height: max-content;
}

.footer {
  display: flex;
  width: 100vw;
  height: 80px;
  background-color: blanchedalmond;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.578);
  color: white;
  top: 0px;
  border: solid red 2px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal h2 {
  font-size: 40px;
  background-color: #322e18;
  padding: 20px;
}

.modal img {
  width: max-content;
  height: 400px;
}
